# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
media/

# Virtual Environment
venv/
env/

# Node
node_modules/
package-lock.json

# Environment Variables
.env

# Static build
staticfiles/

# OS
.DS_Store
Thumbs.db